@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');
@import "~bootstrap/dist/css/bootstrap.css";

body {
	margin: 0;
	padding: 0;
	background-color: #edf1f5;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
